.missing {
    background: #EF9A9A;
    padding: 12px 24px;
}

.reviewed {
    background: #A5D6A7;
    padding: 12px 24px;
}

.requested {
    background: #FFF59D;
    padding: 12px 24px;
}

.unreviewed {
    background: #90CAF9;
    padding: 12px 24px;
}

.bg-darkgray {
    background-color: #424242;
}

.bg-success {
    background-color: #66BB6A !important;
}

.bg-warning {
    background-color: #FFEE58 !important;
    color: black;
}

.bg-danger {
    background-color: #EF5350 !important;
}

.bg-info {
    background-color: #42A5F5 !important;
}

.search-container {
    display: grid; 
    grid-template-columns: 50px 700px auto 300px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
      "a b . c d";
    column-gap: 5px;
    height: 50px;
    margin: 5px;
}